# -*- ruby; coding: utf-8 -*-
class NADOKA_Config < Nadoka::NDK_ConfigBase
  nadoka_home = '/vagrant/nadoka'
  Client_server_port = nil
  Servers = [
    {
      :host => File.read("#{nadoka_home}/config/slack.host").chomp,
      :port => File.read("#{nadoka_home}/config/slack.port").to_i,
      :pass => File.read("#{nadoka_home}/config/slack.pass").chomp,
      :ssl_params => {},
    },
  ]

  Hostname = Socket.gethostname
  number = Hostname[/\d+/].to_i
  delay = number.to_f
  delay /= 10.0 while delay > 10.0

  User     = File.read("#{nadoka_home}/config/slack.user").chomp
  Nick     = User

  Channel_info = {
  }

  require 'tmpdir'
  Log_dir     = "#{Dir.tmpdir}/nadoka/log"

  Plugins_dir = [
    "#{nadoka_home}/wc/fprog-nadoka-plugins-trunk",
    "#{nadoka_home}/wc/nadoka/plugins",
  ]

  BotConfig << {
    :name => :Ponger,
    :ch => /servers/,
    :pattern => /\Ap[io]ng.?\z/,
    :reply => "pong #{Hostname}",
    :delay => delay,
  }

  BotConfig << {
    :name => :Upgradable,
    :bot_name => "upgradable #{Hostname}",
    :ch => /servers/,
    :pattern => /\Aupgradable\z/,
    :delay => delay,
  }

  if File.executable?('/usr/lib/update-notifier/update-motd-reboot-required')
    BotConfig << {
      :name => :CatBot,
      :bot_name => Hostname,
      :ch => /servers/,
      :pattern => /\Aupgradable\z/,
      :file => "|/usr/lib/update-notifier/update-motd-reboot-required",
      :delay => delay,
    }
  end

  BotConfig << {
    :name => :CatBot,
    :bot_name => Hostname,
    :ch => /servers/,
    :pattern => /\Auptime\z/,
    :file => "|uptime",
    :delay => delay,
  }
end
# vim: set ft=ruby:
